@import '../../imports';

.navWrapper {
  position: absolute;
  width: 100%;
  height: 63px;
  background: $darkBlue;
  padding: .3em 1em;
  display: flex;
  align-items: center;
}

.navLogo {
  width: 210px;
}

.verticalDivider {
  width: 1px;
  height: 44px;
  background: $white;
  margin: 0 1em;
}

.navH1 {
  color: $white;
  font-weight: 700;
  margin-right: auto;
}

.anchorLikeButton {
  border: none;
  background: none;
  color: $dimmed;
  padding: .5em;

  &:hover {
    color: $coral;
    cursor: pointer;
  }
}

.chevronIcon {
  width: 19px;
  height: 19px;
}

// CSS transition classes
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 300ms ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 300ms ease;
}